extends layout

block content
  div.container#backgroundcontact
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1#about About
        h2#clarkfont Clarke is a way for families and friends to interact and well, you know, do things.
        br
        h3.aboutus Want to start a conversation?
        br
        h3.aboutus Use Clarke
        br
        h3.aboutus Want to make friends?
        br
        h3.aboutus Use Clarke
        br
        h3.aboutus Want to be famous?
        h3.aboutus Use Clarke and it's done.
         a(href='/' class='text-center new-account member-text' id="back") Back to Home
