extends layout

block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title About
          p Clarke is a way for families and friends to interact and do things. Want to start a conversation? Want to make friends? Want to be famous? It's Clarke and its done.

