extends home

block main
  #convos
    ul.user-details
      h2 Conversations
      if convos
        if convos.length > 0
          ul
          for convo in convos
            li.conversation_list
              for message in convo.messages
                for recipient in message.recipients
                  if recipient.username === user.username
                    if recipient.newMessage === true
                      div New Messages
              a(href='/conversation/' + convo._id, class='listing-fonts user-details') #{convo.title}
