extends home

block main
  #convos
    ul.user-details
      if convos
        if convos.length > 0
          ul
          for convo in convos
            li
              a(href='/conversation/' + convo._id, class='listing-fonts user-details') #{convo.title}
