extends layout

block content
  h1= title
  p Welcome to #{title}
  p

  if (user)
    h2 You are logged in as #{user.email}
      a(href="/logout")  logout
  else
    h2
      a(href="/login") Please login
      |  or
      a(href="/register")  register
