extends layout

block content
	//- div.jumbotron
	//- 	i.fa.fa-user-plus.fa-5x
	//- 		h1.title Clarke
	//- 		p.subtitle A place to do something
	div#myCarousel.carousel.slide
		ol.carousel-indicators
			li(data-target="#myCarousel", data-slide-to = "0", class="active")
			li(data-target="#myCarousel", data-slide-to = "1")
			li(data-target="#myCarousel", data-slide-to = "2")
		div.carousel-inner
			div.item.active
				img(src="http://i.imgur.com/B9fCMFh.jpg?1", alt= "firstimg", class="img-responsive")
				div.carousel-caption
					h3 Clouds
					p Clarke does
			div.item
				img(src="http://i.imgur.com/ARV3iv6.jpg?1", alt= "secondimg", class="img-responsive")
				div.carousel-caption
					h3 More clouds
					p Clarke does something
			div.item
				img(src="http://i.imgur.com/taL7O29.jpg?1", alt= "thirdimg", class="img-responsive")
				div.carousel-caption
					h3 Cloudy
					p Clarke does something cool
		a(href="#myCarousel", class="carousel-control left", data-slide="prev")
			span.icon-prev
		a(href="#myCarousel", class="carousel-control right", data-slide="next")
			span.icon-next
	div.container.indexcontainer
		div.row.indexcontainer
			div.navbar.navbar-default.navbar-fixed-top
				div.container
					div.navbar-brand Clarke
					button.navbar-toggle(data-toggle="collapse", data-target=".navHeaderCollapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar

					div.collapse.navbar-collapse.navHeaderCollapse
						ul.nav.navbar-nav.navbar-right
							li.active
								a(href="#", class="active") Login
							li
								a(href="#", class="active") Sign Up
							li
								a(href="#", class="active") About
							li
								a(href="#", class="active") Contact Us
			div.col-sm-8.col-md-8
			div.col-sm-12
				h1.text-center.login-title
					div.account-wall
						form(class='form-signin', action='/auth/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='Password', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Login
							span.clearfix
					a(href='/auth/signup', class='text-center new-account') Create an account
					#message
					if message
						h1.text-center.error-message #{message}
