extends layout

block content
	div.jumbotron
		i.fa.fa-user-plus.fa-5x
			h1.title Clarke
			p.subtitle A place to do something
	//- div.navbar
	//- 	ul.nav.nav-pills
	//- 		li.active
	//- 			a(href="#", class="active") Sign Up
	//- 		li.active
	//- 			a(href="#", class="active") Login
	//- 		li.active
	//- 			a(href="#", class="active") About
	//- 		li.active
	//- 			a(href="#", class="active") Contact
	div.container.indexcontainer
		div.row.indexcontainer
			div.navbar
				ul.nav.nav-pills
					li.active
						a(href="#", class="active") Sign Up
					li.active
						a(href="#", class="active") Login
					li.active
						a(href="#", class="active") About
					li.active
						a(href="#", class="active") Contact
			div.col-sm-8.col-md-8
			div.col-sm-12
				h1.text-center.login-title
					div.account-wall
						form(class='form-signin', action='/auth/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='Password', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Login
							span.clearfix
					a(href='/auth/signup', class='text-center new-account') Create an account
					#message
					if message
						h1.text-center.error-message #{message}
