extends home

block main
  h1 Newsfeed
  div#pictureContainer
  if (listing.length > 0)
    for item in listing
      if item.src
        ul.user-details.listing-fonts
          li
            a(title='/picture/' + item._id, class='text-center pictureLink') #{item.src}
          li By: #{item._creator}
          br
      else
        ul.user-details.listing-fonts
          li
            a(href='/status/' + item._id, class='text-center status') #{item.input}
          li By: #{item._creator}
          br


