//UNUSED CODE

//- extends home

//- block main
//-   div#pictureContainer
//-   if (pictures.length > 0)
//-     for picture in pictures
//-       ul.user-details
//-         li
//-           a(title='/picture/' + picture._id, class='text-center pictureLink') #{picture.src}
//-         br
