
block main
  if (statuses.length > 0)
    for status in statuses
      ul.user-details
        li
          a(href='/status/' + status._id, class='text-center status') #{status.input}
        li By: #{status._creator}
        br


