extends home

block main
  ul.user-details
    a(href='/status/allStatuses',  class='text-center new-account') All My Statuses
    li #{status.input}
    li Likes: #{status.likes}
    li By: #{status._creator}
    li Posted At: #{status.postedAt}
    a(id='delete_status', class='text-center new-account', title='' + status._id) Delete Status
