extends home
block main
  h1= title
  #user
    if (users.length > 0)
      for otherUser in users
        ul.user-details
          li
            a(href='/user/' + otherUser.username, class='listing-fonts') #{otherUser.firstName} #{otherUser.lastName}


